@import "~bootstrap/scss/bootstrap";
.website-header{
  ul{
    padding-left: 0;
  }
}
.website-footer{
  text-align: center;
  background-color: #000000;
  color: #ffffff;
}
.cardcontainer{
  margin: 200px auto 1200px;
  padding: 200px 20px;
  text-align: center;
  background-color: #cccccc;
}
.heading1{
  font-size: 46px;
  margin-bottom: 30px;
}
.ah-wrap{
  background-color: #09093c;
  color: #ffffff;
  text-align: center;
  ul{
    padding-left: 0;
    li{
      text-transform: capitalize;
      font-size: 22px;
      font-weight: 600;
      display: inline-block;
      padding: 5px 15px;
      margin: 5px 15px;
    }
  }
}
